<div class="hero-unit">

		<div class="row-fluid">
			<div class="span2">
				<%= image_tag("globewithpin.png", :alt => "visualize social enterprise") %>
				
			</div>
			<div class="span10">
				<h1>Promoting a civil society around the world. 
				</h1>
				<button type="button" class="btn btn-success btn-lg">Sign Up</button>
			</div>

				
			
		</div>
</div>