<div class="hero-unit">

		
		<h3><%= image_tag("globewithpin.png", :alt => "visualize social enterprise") %>Promoting a civil society around the world. 
		</h3>

		<button type="button" class="btn btn-success btn-lg">Sign Up</button>

</div>