<div class="jumbotron well">

		
		<h3><%= image_tag("globewithpin.png", :alt => "visualize social enterprise") %>Welcome to the page, we are currently under development
		    at the moment. <br/> Please check back later, or sign in for an 
		    account to keep up to date with our latest developments
		</h3>

		<br/>

		<h3>Check out our <%= link_to 'Organizations Page', orgs_path%></h3>

		<br/>




</div>