<h1>Civco</h1>
<h3> Welcome to the page, we are currently under development
    at the moment. <br/> Please check back later, or sign in for an 
    account to keep up to date with our latest developments
</h3>

<br/>
<br/>

<h3>Check out our <%= link_to 'Organizations Page', orgs_path%></h3>
