<div class="jumbotron well">

		
		<h3><%= image_tag("globewithpin.png", :alt => "visualize social enterprise") %>Connect and collaborate with social enterprises, non-profits, and charities doing amazing work all over the world.
		</h3>

		<br/>

		<h3>Check out our <%= link_to 'Organizations Page', orgs_path%></h3>
		<h3>Check out our <%= link_to 'Map', 'home#map'%></h3>

		<br/>




</div>